brez.top {

    handle_errors {
        root * /var/www/breztop_web
        rewrite * /404.html
        file_server
    }

    root * /var/www/breztop_web
    file_server

    header {
        Cache-Control "public, max-age=3600"
    }
}
